[package]
name = "<%= crate_name %>"
version = "<%= workspace_version %>"
edition = "2024"
rust-version = "1.85"
description = "<%= grammar_name %> grammar for arborium (tree-sitter bindings)"
authors = ["Amos Wenger <amos@bearcove.eu>"]
license = "<%= license %>"
readme = "README.md"
repository = "https://github.com/bearcove/arborium"
homepage = "https://github.com/bearcove/arborium"
documentation = "https://docs.rs/<%= crate_name %>"
keywords = ["tree-sitter", "<%= grammar_id %>", "syntax-highlighting", "<%= tag %>"]
categories = ["parsing", "text-processing"]
include = [
    "src/**/*",
    "grammar/**/*",
    "queries/**/*",
    "sample.*",
    "samples/**/*",
    "build.rs",
    "Cargo.toml",
    "README.md",
    ".arborium-hash",
]

[lib]
path = "src/lib.rs"

[dependencies]
tree-sitter-language = { version = "0.1", path = "<%= shared_rel %>/arborium-tree-sitter/language" }
arborium-sysroot = { version = "<%= dep_version %>", path = "<%= shared_rel %>/arborium-sysroot" }
<% for dep in highlights_prepend_deps { %>
<%= dep.crate_name %> = { version = "<%= dep_version %>", path = "<%= dep.rel_path %>" }
<% } %>

[dev-dependencies]
arborium-test-harness = { version = "<%= dep_version %>", path = "<%= shared_rel %>/arborium-test-harness" }

[build-dependencies]
cc = "1"
